<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bank Project grid demo" verbose="1" thread-count="4">

 <!-- <listeners>
    <listener class-name="com.bankproject.Utilities.Reporting"/>
  </listeners> -->
  
  <!-- chrome browser -->
  <test name="LoginTest with chrome on grid">
  <parameter name="browser" value="chrome"/>
    <classes>
     <!--  <class name="com.bankproject.testCases.Tc_loginPage_001"/> -->
     <class name="com.bankproject.testCases.Jenkins"/>
    </classes>
  </test> <!-- Test -->
  
  <!-- firefox browser -->
 <!--  <test name="LoginTest with firefox on grid">
  <parameter name="browser" value="firefox"/>
    <classes>
       <class name="com.bankproject.testCases.AdavancedInteractions"/>
    </classes>
  </test>  -->
</suite> 
