<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bank Project">
  <listeners>
    <listener class-name="com.bankproject.Utilities.Reporting"/>
  </listeners>
  <!-- chrome browser -->
  <test thread-count="5" name="LoginTest with chrome">
  <parameter name="browser" value="chrome"/>
    <classes>
     <!-- <class name="com.bankproject.testCases.Tc_loginPage_001"/> -->
     <!-- <class name="com.bankproject.testCases.TC_loginpage_002"/> -->
      <class name="com.bankproject.testCases.TC_addNewCustomer_001"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
